@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css');
/* @import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css'); */
@import url('//cdn.jsdelivr.net/npm/keyrune@latest/css/keyrune.css');
@import url('//cdn.jsdelivr.net/npm/mana-font@latest/css/mana.css'); /* Import the Mana Cost icons */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;

  /* 2e84e2 #4fbdf2 */
}

a {
  color: inherit;
}

.list-group-flush {
  color: #495057;
}

.active {
  background-color: #e9ecef !;
}

main {
  background-color: #ededee;
}

.navbar-brand {
  margin-left: 15px;
  color: #2196f3 !important;
}

.sidebar-fixed {
  left: 0;
  top: 0;
  height: 100vh;
  width: 270px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  z-index: 1050;
  background-color: #fff;
  padding: 1.5rem;
  padding-top: 0;
}

.flexible-navbar {
  transition: padding-left 0.5s;
  padding-left: 270px;
  background: #fff;
}

#content {
  margin-left: 270px;
}

.sidebar-fixed .logo-wrapper img {
  width: 100%;
  padding: 2.5rem;
}

.list-group-item {
  display: block !important;
  transition: background-color 0.3s;
}

.list-group-item:hover {
  color: #49505b;
  text-decoration: none;
  background-color: #f8f9fa;
}

.list-group-item:hover {
  color: #49505b;
  text-decoration: none;
  background-color: #f8f9fa;
}

.list-group .active {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 5px;
}

.card-title {
  font-size: 1.5rem;
  font-weight: 600;
}

.card-subtitle {
  font-size: 1.25rem;
  font-weight: 600;
}

.full {
  height: 70vh;
}

.bad-gateway-row {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 55%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.card .view.gradient-card-header {
  padding: 1rem 1rem;
  text-align: center;
}

.card h3,
.card.card-cascade h4 {
  margin-bottom: 0px;
}

.cascading-admin-card .admin-up {
  margin-left: 4%;
  margin-right: 4%;
  margin-top: -20px;
}

.cascading-admin-card .admin-up .fa {
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.2), 0 2px 13px 0 rgba(0, 0, 0, 0.19);
}

.cascading-admin-card .admin-up .fa {
  padding: 1.7rem;
  font-size: 2rem;
  color: #fff;
  text-align: left;
  margin-right: 1rem;
  border-radius: 3px;
}

.cascading-admin-card .admin-up .data {
  float: right;
  margin-top: 2rem;
  text-align: right;
}
.admin-up .data p {
  color: #999999;
  font-size: 12px;
}
.classic-admin-card .card-body {
  color: #fff;
  margin-bottom: 0;
  padding: 0.9rem;
}
.classic-admin-card .card-body p {
  font-size: 13px;
  opacity: 0.7;
  margin-bottom: 0;
}
.classic-admin-card .card-body h4 {
  margin-top: 10px;
}

.form-inline {
  flex-flow: unset;
}

.breadcrumb {
  margin: 0;
}

.activeClass .list-group-item {
  z-index: 5;
  color: #fff;
  border-color: #007bff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 5px !important;
  background-color: #007bff !important;
}

@media (max-width: 1199.98px) {
  .sidebar-fixed {
    display: none;
  }
  .flexible-content {
    padding-left: 0;
  }
  .flexible-navbar {
    padding-left: 10px;
  }

  #content {
    margin-left: 0px;
  }

  .page-footer {
    margin-left: 0px;
  }

  .card.cascading-admin-card {
    margin-top: 2.5rem;
  }
}

@media (max-width: 576px) {
  .card.cascading-admin-card {
    margin-top: 2.5rem;
  }

  #breadcrumb {
    flex-direction: column;
  }
}

.no-shadow {
  box-shadow: none;
}

@media(min-width:1280px){
  .top-input {
    padding-right: 110px !important;
  }
}

@media(min-width:1440px){
  .top-input {
    padding-right: 0px !important;
  }
}

.remove-padding{
  padding: 0 !important;
}

.remove-margin{
  margin: 0 !important;
}

.carousel .carousel-control-next-icon {
  width: 14px;
  height: 18px;
  background-image: url('https://res.cloudinary.com/dl7mgal9c/image/upload/v1552294887/Card%20Exchange/right.png');
  margin-top: 6px !important;
  margin-left: 3px;
}

.carousel .carousel-control-prev-icon {
  width: 14px;
  height: 18px;
  background-image: url('https://res.cloudinary.com/dl7mgal9c/image/upload/v1552294884/Card%20Exchange/left.png');
  margin-top: 6px !important;
  margin-right: 3px;
}

.carousel-control-next{
  position: absolute;
  top: 45%;
  z-index: 1;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 40px !important;
  height: 40px !important;
  color: #000 !important;
  opacity: 1;
  background-color: #2f61b6;
  border-radius: 20px;
}

.carousel-control-prev {
  position: absolute;
  top: 45%;
  z-index: 1;
  width: 40px !important;
  height: 40px !important;
  color: #000 !important;
  opacity: 1;
  background-color: #2f61b6;
  border-radius: 20px;
}

.nav-link {
  color: #fff !important;
  font-size: 12px !important;
  margin-right: 10px;
  padding: 1px !important;
  font-weight: 600;
}
.nav-link:focus {
  font-weight: 900;
  font-size: 12px !important;
  border-bottom: 1.5px solid #2f62b6;
  margin-top: -1px;
  padding-bottom: 0px;
}
/* .activeToplink {
  font-weight: 900;
  font-size: 12px !important;
  border-bottom: 1.5px solid #2f62b6;
  margin-top: -1px;
  padding-bottom: 0px;
} */

/* events slides */
#event-slides .slick-prev {
  left: 5px !important;
  background-size: 12px 16px;
  background-repeat: no-repeat;
  background-image: url('https://res.cloudinary.com/dl7mgal9c/image/upload/v1552294884/Card%20Exchange/left.png');
  border-radius: 15px !important;
  color: white !important;
  width: 30px !important;
  height: 30px !important;
  background-color: #2f61b6;
  background-position: center;
  position: absolute;
  top: 42%;
  font-size: 0;
  border: none;
  cursor: pointer;
}
#event-slides .slick-next {
  right: 5px !important;
  background-size: 12px 16px;
  background-repeat: no-repeat;
  background-image: url(https://res.cloudinary.com/dl7mgal9c/image/upload/v1552294887/Card%20Exchange/right.png);
  border-radius: 15px !important;
  color: white !important;
  width: 30px !important;
  height: 30px !important;
  background-color: #2f61b6;
  background-position: center;
  position: absolute;
  top: 42%;
  font-size: 0;
  border: none;
  cursor: pointer;
}

.event-col{
  width: 340px !important;
  height: 265px !important;
}

#event-slides .slick-slider {
  padding: 0 40px 0 53px;
}

#event .rgba-blue-strong, .rgba-blue-strong:after {
  background-color: rgba(55, 104, 189, 0.85);
}

.btn-default:active, .btn-default.active {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  background-color: #2f60b6 !important;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;                                                                                                                             
}

/* top navigation */
.top-navigation{
  background-color: #03a9f4;
}

.top-navigation-input{
  border: none;
  border-radius: 50px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          
  margin-left: 15px;
}

.footer-style{
  background-color: #03a9f4;
}

.top-nav-link {
  color: #fff !important;
  font-size: 12px !important;
  margin-right: 10px;
  padding: 1px !important;
  font-weight: 600;
}
.top-nav-link:focus {
  /* font-weight: 900; */
  font-size: 12px !important;
  /* border-bottom: 1.5px solid #2f62b6; */
  margin-top: -1px;
  padding-bottom: 0px;
}

/* about section */
.about-section{
  height: 500px;
  background: antiquewhite;
}

/* what i do section */
.do-section{
  height: 200px;
  background: aliceblue;
}

/* services */

.service-section{
  height: 500px;
  background: antiquewhite;
}

/* contact section */
.contact-section{
  height: 500px;
  background: antiquewhite;
}

/* association section */
.association-section{
  height: 200px;
  background: aliceblue;
}